@model GBCSporting2021_CtrlStacks.Models.Customer
@{
    var action = (string)ViewBag.Action;
    ViewData["Title"] = action + " Customer";
    var countries = (List<Country>)ViewBag.Countries;
}
<h2>@action Customer</h2>
<div class="row">
    <div class="col-md-12">
        <form method="post" asp-controller="customer" asp-action="save" autocomplete="off">
            <input asp-for="CustomerId" value="@Model.CustomerId" type="hidden" />
            <div class="mb-3 row">
                <label for="FirstName" class="col-md-2 col-form-label">First name</label>
                <div class="col-md-10">
                    <input type="text" autocomplete="off"class="form-control" asp-for="FirstName" value="@Model.FirstName">
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="LastName" class="col-md-2 col-form-label">Last name</label>
                <div class="col-md-10">
                    <input type="text" autocomplete="off"class="form-control" asp-for="LastName" value="@Model.LastName">
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="Address" class="col-md-2 col-form-label">Address</label>
                <div class="col-md-10">
                    <textarea class="form-control" asp-for="Address">@Model.Address</textarea>
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="City" class="col-md-2 col-form-label">City</label>
                <div class="col-md-10">
                    <input type="text" autocomplete="off"class="form-control" asp-for="City" value="@Model.City">
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="State" class="col-md-2 col-form-label">State</label>
                <div class="col-md-10">
                    <input type="text" autocomplete="off"class="form-control" asp-for="State" value="@Model.State">
                    <span asp-validation-for="State" class="text-danger"></span>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="PostalCode" class="col-md-2 col-form-label">Postal Code</label>
                <div class="col-md-10">
                    <input type="text" autocomplete="off"class="form-control" asp-for="PostalCode" value="@Model.PostalCode">
                    <span asp-validation-for="PostalCode" class="text-danger"></span>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="CountryId" class="col-md-2 col-form-label">Country</label>
                <div class="col-md-10">
                    <select asp-for="CountryId" class="form-select" asp-items="@(new SelectList(countries, "CountryId", "Name"))" value="@Model.CountryId">
                        <option value="">---Please select---</option>
                    </select>
                    <span asp-validation-for="CountryId" class="text-danger"></span>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="Email" class="col-md-2 col-form-label">Email</label>
                <div class="col-md-10">
                    <input type="email" class="form-control" asp-for="Email" value="@Model.Email">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="Phone" class="col-md-2 col-form-label">Phone</label>
                <div class="col-md-10">
                    <input type="text" autocomplete="off"class="form-control" asp-for="Phone" value="@Model.Phone">
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
            </div>
            <div class="mb-3 row">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-primary mr-2">Save</button>
                    <a class="btn btn-primary" asp-controller="customer" asp-action="list">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>
@section scripts{
    <script src="~/lib/jquery-mask/jquery.mask.js"></script>
    <script>
        $(document).ready(function () {
            $('#Phone').mask('000-000-0000');
        });
    </script>
}
