@using PagedList.Core
@using PagedList.Core.Mvc
@model IPagedList<Incident>
@{
    ViewData["Title"] = "List incidents for Technician: " + ViewBag.Technician;
    var msgSuccess = (string)TempData["Message"];
}
@if (!string.IsNullOrEmpty(msgSuccess))
{
    <div class="msg-temp-success">
        <h1 class="p-2">@msgSuccess</h1>
    </div>
}
<div class="row">
    <div class="col-md-12">
        <h2>Technician: @ViewBag.Technician</h2>
        <h2>Assigned/Open Incidents</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Customer</th>
                    <th>Product</th>
                    <th>Date Opened</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Any())
                {
                    @foreach (var incident in Model)
                    {
                        <tr>
                            <td><p>@incident.Title</p></td>
                            <td><p>@incident.Customer.FirstName @incident.Customer.LastName</p></td>
                            <td><p>@incident.Product.Name</p></td>
                            <td><p>@string.Format("{0:MM/dd/yyyy}", incident.DateOpened)</p></td>
                            <td class="text-right">
                                <a class="btn btn-primary mr-2" asp-controller="techincident" asp-action="edit" asp-route-id="@incident.IncidentId">Edit</a>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="5" class="text-center">
                            <p class="text-danger mb-0">There are no <b>incident Items</b></p>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-12 d-md-flex">
        <div class="me-auto pt-1">
            <a class="btn btn-primary" asp-controller="techincident" asp-action="get">Switch Technician</a>
        </div>
        <div class="pt-1">
            @{
                var pageListOpt = PagedListRenderOptions.Bootstrap4PageNumbersOnly;
                pageListOpt.UlElementClasses = new[] { "pagination justify-content-end" };
            }
            <pager class="pager-container"
                   list="@Model"
                   options="@pageListOpt"
                   asp-action="list" asp-controller="techincident"
                   asp-route-page="@ViewBag.Page" asp-route-perpage="@ViewBag.PerPage" />
        </div>
    </div>
</div>